@import "mixins.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(250, 250, 250);
    font-family: "Times New Roman";
    height: 100%;
    width: 100%;
    text-align: justify;
    
    header {
        background: rgb(12, 15, 24);
        width: 100%;
        clear: both;
        content: "";
        display: table;

        .navbar{
            background: rgb(12, 15, 24);
        }

        .collapse .items{
            background-color: rgb(20, 23, 34);
            
            li:hover{
                background-color: rgb(25, 30, 41);
            }
        }

        .menu-inicial{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-between;
        
            a{
                margin-left: 30px;
            }
        }
    }

    .mainContent{
        margin: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        text-align: justify;
    }

    .content{
        margin: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        
        p{
            max-width: 900px;
        }
        
        .subTeme{
            margin: 40px 15px 15px 40px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-around;
            /*background-color: rgb(250, 250, 250);*/
            width: auto;
            height: auto;
            border-radius: 0px 0px 30px 30px;
            box-shadow: rgb(136, 136, 136) 5px 5px 5px;

            img{
                margin: 10px;
                max-width: 800px;
                max-height: 800px;
                border-radius: 20px;
            }

        }
    }
    @include footer;
}