@import "mixins.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(250, 250, 250);
    font-family: "Times New Roman";
    height: 100vh;
    width: 100%;
    
    header {
        background: rgb(12, 15, 24);
        width: 100%;
        clear: both;
        content: "";
        display: table;
    }
    @include menu;
    @include footer;
}