* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(250, 250, 250);
    font-family: "Times New Roman";
}

header {
    background: rgb(12, 15, 24);
    width: 100%;
    clear: both;
    content: "";
    display: table;
}

.menu {
    width: 900px;
    margin: 0 auto;
}
nav {
    float: left;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: honeydew;
    font-weight: bold;
}

nav ul li a ::before {
    display: block;
    content: "";
    width: 100%;
    background: honeydew;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 1s;
}

nav ul li a:hover::before {
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px 5px;
    width: 60%;
}

th {
    background: rgb(14, 14, 31);
    color: white;
}

td,
th {
    border: 2px solid black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    text-justify: auto;
}

footer {
    margin: auto;
    border-radius: 0 0 20px 20px;
    background: rgb(3, 0, 0);
    max-width: 10000px;
    min-height: 50px;
    color: blanchedalmond;
    text-align: center;
    font-size: 100%;
    font: italic;
    font-weight: bolder;
    text-decoration: darkslategray;
    padding: auto;
    box-sizing: border-box;
}

.slider {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 14s infinite;
    width: 500%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 30%;
    height: 80%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100%;
}

.icon {
    width: 80px;
    height: 80px;
    margin: 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s;
}

.icon:nth-child(1):hover {
    box-shadow: 0px 0px 10px #0e34a0;
}

.icon:nth-child(2):hover {
    box-shadow: 0px 0px 10px #750d37;
}

.icon:nth-child(3):hover {
    box-shadow: 0px 0px 10px #9ac4f8;
}

.fa-facebook-f {
    color: #0e34a0;
    filter: drop-shadow(0px 0px 10px #0e34a0);
}

.fa-instagram-square {
    color: #750d37;
    filter: drop-shadow(0px 0px 10px #750d37);
}

.fa-twitter-square {
    color: #9ac4f8;
    filter: drop-shadow(0px 0px 10px #9ac4f8);
}

