* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(
        45deg,
        rgb(110, 25, 51),
        rgba(5, 72, 82, 1),
        rgb(52, 43, 66),
        black
    );
    background-size: 650% 650%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
    font-family: "Times New Roman";
}

@keyframes cambiar {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

body header {
    background: #07080e;
    width: 100%;
    clear: both;
    content: "";
    display: table;
}
@media screen and (max-width: 450px) {
    body header {
        background-color: rgb(255, 250, 250);
    }
    body .menu__expand {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 200;
    }
    body .menu__element {
        width: 30px;
        border-radius: 5px;
        height: 5px;
        background-color: rgb(252, 246, 246);
    }
    body .menu__element::after {
        position: relative;
        top: 5px;
        content: "";
        display: block;
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-radius: inherit;
    }
    body .menu__element::before {
        position: relative;
        bottom: 10px;
        content: "";
        display: block;
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-radius: inherit;
    }
}
body .menu {
    width: 100%;
    margin: 0 auto;
}
body nav {
    float: left;
}
body nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
}
body nav ul li a {
    text-decoration: none;
    color: rgb(231, 236, 231);
    font-weight: bold;
}
body nav ul li a ::before {
    display: block;
    content: "";
    width: 100%;
    background: honeydew;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 1s;
}
body nav ul li a:hover::before {
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: auto;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background: #07080e;
    max-width: 10000px;
    min-height: 50px;
    color: blanchedalmond;
    text-align: center;
    font-size: 100%;
    font: italic;
    font-weight: bolder;
    text-decoration: darkslategray;
    padding: auto;
    box-sizing: border-box;
    margin-top: 25px;
}
footer .icon {
    width: 80px;
    height: 80px;
    margin: 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s;
}
footer .icon:nth-child(1):hover {
    box-shadow: 0px 0px 10px #0e34a0;
}
footer .icon:nth-child(2):hover {
    box-shadow: 0px 0px 10px #750d37;
}
footer .icon:nth-child(3):hover {
    box-shadow: 0px 0px 10px #9ac4f8;
}
footer .fa-facebook-f {
    filter: drop-shadow(0px 0px 10px #0e34a0);
}
footer .fa-instagram-square {
    filter: drop-shadow(0px 0px 10px #750d37);
}
footer .fa-twitter-square {
    filter: drop-shadow(0px 0px 10px #9ac4f8);
}
footer .center {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .main {
    width: 100%;
    height: 100%;
}

.slider {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    background: transparent;
    height: 300px;
    overflow: hidden;
}

@media screen and (max-width: 450px) {
    .slider {
        height: 100px;
    }
}
.slider ul {
    display: flex;
    animation: cambio 14s infinite;
    width: 500%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 30%;
    height: 80%;
    border-radius: 50%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}
/*Style for articles */
.main__container {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    width: 1200px;
    margin-bottom: 80px;
}

@media screen and (max-width: 450px) {
    .main__container {
        grid-template-columns: 400px;
        width: 340px;
    }
}
.main__article {
    margin-right: 30px;
    border: 2px, black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    padding-bottom: 40px;
}

@media screen and (max-width: 450px) {
    .main__article {
        margin-bottom: 10px;
        width: 330px;
    }
}
@media screen and (max-width: 450px) {
    .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 100;
        background: black;
        width: 100%;
        right: 100%;
    }
}
.main__title {
    margin-top: 20px;
    text-align: center;
}

.main__text {
    font-family: "Times New Roman";
    font-size: 18px;
    margin-top: 20px;
    font-weight: 1.2;
}

code {
    font-size: 14px;
}

/*Animations*/
.open__navbar {
    animation: openNavbar 0.3s forwards;
}

.close__navbar {
    animation: closeNavbar 0.3s forwards;
}

@keyframes openNavbar {
    from {
        right: 100%;
    }
    to {
        right: 0;
    }
}
@keyframes closeNavbar {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}

.grid__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 450px) {
    .grid__main {
        display: grid;
        grid-template-columns: 1fr;
    }
}
/*# sourceMappingURL=home.css.map */
